/* *** Barre de navigation *** */

nav {
    width: 96%;
    margin: auto;
    margin-top: 20px;
}

#logo {
    text-decoration: none;
}

a {
    color: #DB7C26;
    --pico-underline: #DB7C26;
}
a:hover {
    color: #F7B538;
    --pico-primary-hover-underline: #F7B538;
}

#img-favoris {
    width: 50px;
}
#img-favoris:hover {

    /* J'en suis là : faire une transition plus courte */

    transition: 0.5s;
    filter: brightness(125%);
}

/* *** Mise en page partagée *** */

html {
    background-color: #34040D;
}

main {
    margin: 0% 5%;
}

hgroup {
    text-align: center;
}

#img-loupe, #img-etoile-vide, #img-etoile-pleine {
    height: 20px;
}

.orange {
    background-color: #DB7C26;
    border: #DB7C26;
}

.rouge {
    background-color: #CA5D36;
    border: #CA5D36;
}


/* *** Page d'accueil *** */

#section-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bloc-creation {
    display: flex;
}

#img-fleche {
    width: 100px;
    margin: 10px 0;
}

#btn-valider-creation {
    margin-top: 20px;
}