/* *** Barre de navigation *** */

nav {
    width: 96%;
    margin: auto;
    margin-top: 20px;
}

#logo {
    text-decoration: none;
}

#img-favoris {
    width: 50px;
    transition: 0.5s;
}
#img-favoris:hover {
    transition: 0.5s;
    filter: brightness(145%);
}


/* *** Mise en page partagée *** */

html {
    background-color: #34040D;
}

main {
    margin: 0% 5%;
}

hgroup {
    text-align: center;
}

a {
    color: #DB7C26;
    --pico-underline: #DB7C26;
}
a:hover {
    color: #F7B538;
    --pico-primary-hover-underline: #F7B538;
}

button:hover {
    transition: 0.5s;
    filter: brightness(125%);
}
button:not(:hover) {
    transition: 0.5s;
}

#img-loupe, #img-etoile {
    height: 20px;
}

.orange {
    background-color: #DB7C26;
    border: #DB7C26;
}

.rouge {
    background-color: #CA5D36;
    border: #CA5D36;
}

/* Barre de recherche et liste de recherches favorites */

#aucun-favoris {
    font-size: medium;
    font-style: italic;
    text-align: center;
}

#bloc-recherches-favorites {
    display: flex;
    gap: 20px;
    padding: 0px;
}

.recherche-favorite {
    display: flex;
    align-items: center;
    background-color: #DB7C26;
    border-radius: 50px;
    padding: 5px 15px;
    text-decoration: underline;
    color: white;
    transition: 0.5s;
}
.recherche-favorite:hover {
    cursor:pointer;
    text-decoration: none;
    transition: 0.5s;
    filter: brightness(125%);
}

.img-croix {
    height: 25px;
    margin-left: 10px;
}
.img-croix:hover {
    filter: brightness(0) saturate(100%) invert(6%) sepia(39%) saturate(3775%) hue-rotate(327deg) brightness(105%) contrast(106%);
}

/* TENTATIVES D'ENLEVER LA BORDURE BLEUE QUAND SELECTION DE RECHERCHE = ECHEC
input[type="search"]:focus {
    border: solid 2px #F7B538;
}
#div-recherche-ingredients:focus {
    --pico-primary-border: #F7B538;
    --pico-primary-focus: #F7B538;
    --pico-form-element-focus-color: #F7B538;
    border: solid 2px #F7B538;
}
#div-recherche-cocktail {
    --pico-primary-border: #F7B538;
    --pico-primary-focus: #F7B538;
    --pico-form-element-focus-color: #F7B538;
    border: solid 2px #F7B538;
}
*/

/* Boîte de dialogue */
#confirmation>div {
    display: flex;
    flex-direction: column;
}
#confirmation>div>div {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Évite d'écraser le hover */
    gap: 20px;
}

#confirmer-suppression {
    background-color: red;
    border: solid 2px red;
}
#annuler-suppression {
    background-color: #CA5D36;
    border: solid 2px #CA5D36;
}
#confirmer-suppression:hover, #annuler-suppression:hover {
    border: solid 2px #F7B538;
}


/* *** Page d'accueil *** */

#section-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bloc-creation {
    display: flex;
}

#img-fleche {
    width: 100px;
    margin: 10px 0;
}

#btn-valider-creation {
    margin-top: 20px;
}

/* *** Résultat cocktail *** */

#blast {
    width: 666px;
}

#img-creation {
    z-index: 3;
    position: absolute;
    top: 27%;
    left: 39%;
}

#btn-fermer-crea {
    position: absolute;
    top: 20%;
    right: 25%;
}

#grid-cocktails{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#grid-cocktails div{
    margin : 20px;
}

#grid-cocktails p{
    text-wrap: wrap;
    max-width: 200px;
}